<center>

	<h1>Bienvenue sur GoZoo !</h1>
	<h2>Application de géolocalisation des zoos</h2>

	<hr>


	<table width="600" border="0">
		<tr>
			<td width="50%" align="center"><a href="#/1d"><img src="content/images/1d.PNG" alt="1D" width="180"></a></td>
			<td align="center"><a href="#/2d"><img src="content/images/2D.png" alt="2D" width="200"></a></td>
		</tr>
		<tr>
			<td width="50%" align="center">Porte 1D</td>
			<td align="center">Porte 2D</td>
		</tr>
		<tr>
			<td width="50%" align="center">La vue textuelle (1D).</td>
			<td align="center">La vue 2 dimensions.</td>
		</tr>
	</table>

	<br><br><br>

	<table width="400" border="0">
		<tr>
			<td align="center">
				<img src="content/images/3D.png" alt="2D" width="350">
			</td>
		</tr>
	</table>
	Pour accéder à l'univers <b>3D</b>, merci de passer par les <b>chemins (liens) dans la vue 1D</b>.

</center>
